@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8.5%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 8.5%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 38.7%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 258 89.8% 66.1%;
    --accent-foreground: 0 0% 3.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 258 89.8% 66.1%;
    --primary-foreground: 0 0% 3.6%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --ring: 258 89.8% 66.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
